In [ ]:
#Useful Methods of Pandas

In [ ]:
#Randomized Sampling
'''
Sampling a random fraction of a big DataFrame is often very useful so that we can
practice other methods on them and test our ideas. If you have a database table of 1
million records, then it is not computationally effective to run your test scripts on the
full table.

However, you may also not want to extract only the first 100 elements as the data may
have been sorted by a particular key and you may get an uninteresting table back, which
may not represent the full statistical diversity of the parent database

'''

In [ ]:
'''
the sample method comes in super handy so that we can randomly
choose a controlled fraction of the DataFrame'''

In [ ]:
from google.colab import  files 
up=files.upload()

Saving Sample - Superstore.xls to Sample - Superstore.xls

In [ ]:
import pandas as pd
df=pd.read_excel("Sample - Superstore.xls")

In [ ]:
print(df.shape)
print(df.size)
print(9994*21)

(9994, 21)
209874
209874

In [ ]:
#sampling 10 rows of data randomly.

df.sample(10)

      Row ID        Order ID Order Date  ... Quantity Discount    Profit
8623    8624  CA-2015-136147 2015-11-13  ...        6     0.70 -100.9200
9861    9862  CA-2017-113278 2017-01-14  ...        2     0.00    5.2528
6101    6102  CA-2017-100111 2017-09-20  ...        5     0.10  375.7350
5476    5477  CA-2017-169691 2017-06-15  ...        5     0.00   22.8285
7013    7014  CA-2017-141201 2017-12-09  ...        3     0.15   15.6978
8726    8727  CA-2015-103870 2015-12-27  ...        3     0.20    0.7092
4070    4071  CA-2016-145303 2016-08-28  ...        4     0.80  -16.5396
7612    7613  US-2015-130491 2015-02-08  ...        1     0.00    1.8011
7841    7842  CA-2016-116603 2016-07-17  ...        2     0.00   13.7880
579      580  CA-2017-118640 2017-07-20  ...        1     0.60   -5.7148

[10 rows x 21 columns]

In [ ]:
#sampling by number of rows
df.sample(n=4) #USE CAN EVEN USE INPLACE=TRUE FOR PERMENTANT CHANGE OF DATA FRAME.

      Row ID        Order ID Order Date  ... Quantity Discount    Profit
3712    3713  CA-2017-166198 2017-04-21  ...        1      0.0    3.4620
7154    7155  US-2015-136749 2015-12-25  ...        6      0.0   46.8996
4586    4587  US-2017-163790 2017-11-02  ...        6      0.2  206.6232
3730    3731  CA-2015-109575 2015-09-18  ...        7      0.0    0.0000

[4 rows x 21 columns]

In [ ]:
#sampling by fraction (percentage) /percentage.

df.sample(frac=0.01)

      Row ID        Order ID Order Date  ... Quantity Discount    Profit
9125    9126  CA-2016-128916 2016-08-18  ...        4      0.6   -2.1376
6217    6218  US-2015-129553 2015-07-27  ...        3      0.0    0.2997
6352    6353  US-2015-161347 2015-09-13  ...        1      0.7   -2.0100
9032    9033  CA-2017-105823 2017-06-22  ...        2      0.0  146.3880
1272    1273  US-2016-103646 2016-04-21  ...        8      0.8  -67.2720
...      ...             ...        ...  ...      ...      ...       ...
240      241  CA-2016-157749 2016-06-04  ...        2      0.2   11.1944
645      646  CA-2017-126221 2017-12-30  ...        2      0.0   56.5110
6303    6304  CA-2017-162712 2017-06-18  ...        3      0.2   23.2350
829      830  CA-2017-129462 2017-06-16  ...        2      0.0   90.5880
3406    3407  US-2014-150119 2014-04-23  ...        2      0.3  -12.0588

[100 rows x 21 columns]

In [ ]:
dfcopy=df.copy()

In [ ]:
dfcopy.shape

(9994, 21)

In [ ]:

print(dfcopy.sample(n=5,replace=True))
print(dfcopy.shape)

      Row ID        Order ID Order Date  ... Quantity Discount   Profit
2821    2822  CA-2017-100202 2016-12-31  ...        3      0.2  22.6782
4421    4422  CA-2014-117016 2014-03-04  ...        3      0.2   2.3328
6324    6325  CA-2015-110289 2015-10-29  ...        5      0.0  16.0320
9317    9318  CA-2017-124940 2017-02-21  ...        1      0.2  -2.9940
7931    7932  US-2016-168095 2016-07-15  ...        3      0.2  23.0280

[5 rows x 21 columns]
(9994, 21)

In [ ]:

##Replace sample arguments.
'''You can also choose if sampling is done with replacement, that is, whether the
same record can be chosen more than once. The default replace choice is FALSE,
that is, no repetition, and sampling will try to choose new elements only,

TO MAKE SAME ROWS TO SELECT MORE TIME YOU CAN MAKE REPLACE=TRUE.'''

print(dfcopy.sample(n=5,replace=True))
print(dfcopy.shape)

      Row ID        Order ID Order Date  ... Quantity Discount   Profit
4006    4007  US-2015-168732 2015-12-10  ...        4      0.0  12.4416
6321    6322  CA-2014-123316 2014-10-13  ...        3      0.2   2.8101
22        23  CA-2016-137330 2016-12-09  ...        7      0.0  15.6884
2761    2762  CA-2017-126536 2017-10-12  ...        1      0.0   0.4356
2906    2907  CA-2017-121615 2017-11-03  ...        2      0.0   3.8520

[5 rows x 21 columns]
(9994, 21)

In [ ]:
#################################################
#The value_counts Method

In [ ]:
#REAL WORLD EXAMPLE.

Let's consider a practical application of this method to illustrate the utility. Suppose
your manager asks you to list the top 10 customers from the big sales database

which 10 customers' names occur the most
frequently in the sales table?

The value_counts method returns a series of the counts of all unique customer names
sorted by the frequency of the count. By asking for only the first 10 elements of that list,
this code returns a series of the most frequently occurring top 10 customer names.

In [ ]:
df['Customer Name']

0            Claire Gute
1            Claire Gute
2        Darrin Van Huff
3         Sean O'Donnell
4         Sean O'Donnell
              ...
9989    Tom Boeckenhauer
9990         Dave Brooks
9991         Dave Brooks
9992         Dave Brooks
9993        Chris Cortes
Name: Customer Name, Length: 9994, dtype: object

In [ ]:
df[['Customer Name','column name2']]

In [ ]:
df['Customer Name'].value_counts()
#All customer there  their number of times comes in data.

William Brown        37
Paul Prost           34
John Lee             34
Matt Abelman         34
Edward Hooks         32
                     ..
Jocasta Rupert        1
Anthony O'Donnell     1
Ricardo Emerson       1
Lela Donovan          1
Carl Jackson          1
Name: Customer Name, Length: 793, dtype: int64

In [ ]:
df['Customer Name'].value_counts()[:10]

#only the first 10 elements of that list,
#this code returns a series of the most frequently occurring top 10 customer names

William Brown          37
Paul Prost             34
John Lee               34
Matt Abelman           34
Edward Hooks           32
Chloris Kastensmidt    32
Jonathan Doherty       32
Seth Vernon            32
Arthur Prichep         31
Zuschuss Carroll       31
Name: Customer Name, dtype: int64

In [ ]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [ ]:
df['Order ID'].value_counts()[:10]

CA-2017-100111    14
CA-2017-157987    12
CA-2016-165330    11
US-2016-108504    11
CA-2015-131338    10
US-2015-126977    10
CA-2016-105732    10
CA-2015-104346     9
CA-2016-145177     9
US-2016-114013     9
Name: Order ID, dtype: int64

In [ ]:
df['Order ID'].value_counts(ascending=True)

CA-2017-158673     1
CA-2016-117121     1
CA-2017-136826     1
CA-2017-146780     1
CA-2015-120397     1
                  ..
CA-2015-131338    10
US-2016-108504    11
CA-2016-165330    11
CA-2017-157987    12
CA-2017-100111    14
Name: Order ID, Length: 5009, dtype: int64

In [ ]:
df['Order ID'].value_counts().tail(5)

CA-2015-120397    1
CA-2017-146780    1
CA-2017-136826    1
CA-2016-117121    1
CA-2017-158673    1
Name: Order ID, dtype: int64

In [ ]:
df= city

df['city'].value_counts()[:-5]

In [ ]:
df['Postal Code'].value_counts().tail(5)
#Postal Code to find out Which first 5 area is there where there is more sell done

33458    1
95616    1
48307    1
61832    1
59102    1
Name: Postal Code, dtype: int64

In [ ]:
########################################
#Pivot Table Functionality
'''pandas also offer pivot table functionality, which works the same as
a pivot table in spreadsheet programs like MS Excel. For example, in this sales database,
you want to know the average sales, profit, and quantity sold, by Region and State (two
levels of index).'''

In [ ]:
#Random sample of 100 data rows

df100=df.sample(n=100)

#Below is pivot

In [ ]:
#Below is pivot 
df100.pivot_table(values=['Sales','Profit','Quantity'],index=['Region','State'],aggfunc='mean')

                            Profit  Quantity       Sales
Region  State
Central Illinois        -74.090750  3.000000   72.756000
        Indiana         120.013650  3.000000  290.955000
        Kansas           22.948800  2.000000   81.960000
        Michigan         28.071267  2.666667  102.313333
        Minnesota        15.552000  5.000000   32.400000
        Nebraska          0.407400  3.000000   40.740000
        Oklahoma        213.704400  6.000000  821.940000
        Texas           -87.870567  3.333333  407.219067
        Wisconsin       186.825100  3.666667  679.270000
East    Delaware         56.994300  3.000000  299.970000
        Maryland         26.349400  7.000000   90.860000
        Massachusetts    60.255300  3.000000  122.970000
        New Jersey      224.681067  2.333333  914.960000
        New York        116.057485  3.692308  372.527615
        Ohio           -238.182325  3.500000  194.198250
        Pennsylvania     -9.184900  3.000000   55.613600
South   Arkansas          1.419000  2.000000    4.300000
        Florida           1.519600  2.500000  109.580000
        Louisiana        15.552000  5.000000   32.400000
        Mississippi       5.372100  3.000000   11.430000
        North Carolina    3.396200  2.800000   24.472000
        South Carolina   33.215600  2.000000  301.960000
        Tennessee       -10.851733  2.333333   44.872000
        Virginia          5.346000  2.000000   11.880000
West    Arizona         -11.570700  1.500000   19.858500
        California       34.575082  3.529412  231.231412
        Colorado          0.805600  1.000000    3.392000
        Idaho             6.635200  4.000000   20.416000
        Utah              6.293700  9.000000   71.928000
        Washington       16.347800  3.666667   37.557333

In [ ]:
df100.pivot_table(values=['Sales','Profit'],index=['Region'],aggfunc='sum')

            Profit      Sales
Region
Central  -213.4808  9081.3528
East     1327.7357  9156.4000
South      54.4481  1276.4260
West      627.4129  4179.0590

In [ ]:
###################################################
#Sorting by Column Values – the sort_values Method
'''
Sorting a table by a particular column is one of the most frequently used operations
in the daily work of an analyst. 
'''

In [ ]:
df20=df.sample(n=20)
print(df20)

      Row ID        Order ID Order Date  ... Quantity Discount    Profit
7955    7956  CA-2017-131807 2017-10-05  ...        4     0.20  -59.8356
2764    2765  CA-2017-165757 2017-06-22  ...        5     0.70  -23.8855
7572    7573  CA-2014-100916 2014-10-21  ...        4     0.00  112.3508
7284    7285  CA-2017-169439 2017-09-09  ...        2     0.20   -9.0904
2510    2511  CA-2016-136812 2016-11-18  ...        4     0.00   55.8960
8249    8250  CA-2015-140221 2015-03-05  ...        2     0.80  -16.8180
5805    5806  CA-2017-113873 2017-11-13  ...        3     0.32  -27.2646
467      468  US-2015-101399 2015-01-17  ...        7     0.60 -312.0614
1975    1976  CA-2014-110408 2014-10-18  ...        3     0.00   11.0388
3867    3868  CA-2015-132486 2015-10-23  ...        9     0.00   63.7776
2739    2740  CA-2017-122707 2017-04-16  ...        4     0.00    9.5448
8273    8274  CA-2015-104059 2015-06-13  ...        1     0.20    0.2996
5370    5371  US-2017-136721 2017-04-08  ...        2     0.00   71.2296
4046    4047  CA-2017-100356 2017-10-21  ...        2     0.80  -62.3792
4992    4993  CA-2015-153038 2015-12-18  ...        8     0.20   18.8784
5019    5020  CA-2014-127558 2014-11-15  ...        2     0.00    5.3196
1107    1108  US-2016-110156 2016-11-19  ...        5     0.80  -17.2480
3703    3704  CA-2015-104941 2015-06-13  ...        3     0.00    8.8044
5819    5820  CA-2014-124730 2014-11-26  ...        4     0.00    5.6448
2717    2718  CA-2014-100006 2014-09-07  ...        3     0.00  109.6113

[20 rows x 21 columns]

In [ ]:
#Let's make whole dataframe sort by Profit.
df20_sort=df20.sort_values('Profit')
print(df20_sort)

#df20_sort=df20.sort_values(by='Profit')

      Row ID        Order ID Order Date  ... Quantity Discount    Profit
3979    3980  CA-2014-114517 2014-12-23  ...        2      0.4  -19.5492
2514    2515  CA-2016-124506 2016-11-11  ...        2      0.3   -2.0568
5431    5432  CA-2017-117422 2017-10-21  ...        1      0.2    1.3716
6733    6734  CA-2014-120096 2014-07-04  ...        2      0.2    3.2432
7707    7708  CA-2017-100237 2017-10-15  ...        2      0.0    4.2048
9350    9351  CA-2016-159009 2016-09-23  ...        4      0.2    4.4604
793      794  CA-2014-156433 2014-09-20  ...        2      0.0    4.5816
7491    7492  US-2017-118598 2017-11-16  ...        6      0.0    5.9970
8252    8253  CA-2015-140221 2015-03-05  ...        2      0.2    6.0416
4232    4233  CA-2017-100223 2017-07-05  ...        6      0.2   11.2752
684      685  US-2017-168116 2017-11-04  ...        2      0.2   14.6510
5557    5558  CA-2015-125066 2015-12-14  ...        2      0.0   15.7640
8387    8388  CA-2015-149601 2015-05-28  ...        5      0.0   21.7140
3289    3290  CA-2015-157770 2015-12-13  ...        5      0.0   27.3735
1840    1841  CA-2014-117345 2014-08-01  ...        2      0.2   29.3640
7202    7203  CA-2016-120369 2016-10-28  ...        5      0.0   75.6800
7477    7478  CA-2014-167199 2014-01-06  ...        2      0.0  113.6742
7456    7457  CA-2015-137974 2015-04-16  ...        2      0.0  148.1064
8693    8694  CA-2016-118311 2016-10-24  ...        5      0.0  162.0000
1830    1831  CA-2017-145884 2017-10-21  ...        8      0.0  374.3792

[20 rows x 21 columns]

In [ ]:
# Even we can do sort with respect to two or more columns.

df20.sort_values(by=['State','Sales'])

      Row ID        Order ID Order Date  ... Quantity Discount    Profit
3703    3704  CA-2015-104941 2015-06-13  ...        3     0.00    8.8044
1975    1976  CA-2014-110408 2014-10-18  ...        3     0.00   11.0388
2739    2740  CA-2017-122707 2017-04-16  ...        4     0.00    9.5448
5019    5020  CA-2014-127558 2014-11-15  ...        2     0.00    5.3196
3867    3868  CA-2015-132486 2015-10-23  ...        9     0.00   63.7776
7955    7956  CA-2017-131807 2017-10-05  ...        4     0.20  -59.8356
8249    8250  CA-2015-140221 2015-03-05  ...        2     0.80  -16.8180
4046    4047  CA-2017-100356 2017-10-21  ...        2     0.80  -62.3792
467      468  US-2015-101399 2015-01-17  ...        7     0.60 -312.0614
5370    5371  US-2017-136721 2017-04-08  ...        2     0.00   71.2296
5819    5820  CA-2014-124730 2014-11-26  ...        4     0.00    5.6448
2717    2718  CA-2014-100006 2014-09-07  ...        3     0.00  109.6113
8273    8274  CA-2015-104059 2015-06-13  ...        1     0.20    0.2996
7284    7285  CA-2017-169439 2017-09-09  ...        2     0.20   -9.0904
2510    2511  CA-2016-136812 2016-11-18  ...        4     0.00   55.8960
2764    2765  CA-2017-165757 2017-06-22  ...        5     0.70  -23.8855
4992    4993  CA-2015-153038 2015-12-18  ...        8     0.20   18.8784
1107    1108  US-2016-110156 2016-11-19  ...        5     0.80  -17.2480
5805    5806  CA-2017-113873 2017-11-13  ...        3     0.32  -27.2646
7572    7573  CA-2014-100916 2014-10-21  ...        4     0.00  112.3508

[20 rows x 21 columns]

In [ ]:
df20[['Ship Date','Customer ID',	'Customer Name','State','Sales']].sort_values(by=['State','Sales'])

KeyError: ignored

In [ ]:
##################################################
#User-Defined Functions with the apply Method

This method accepts a user-defined function and additional arguments and
returns a new column after applying the function on a particular column element-wise.

As an example, suppose we want to create a column of categorical features like high/
medium/low based on the sales price column.

In [ ]:
columnname.apply(functionname)

def userfun(value):
  return true


df['newcolumn']=df['column to analyze'].apply(userfun)

In [ ]:
#create user define funciton

def caterize_sales_type(value):
  if value<50:
    return "Low"
  elif value<200:
    return "Medium"
  else:
    return "High"

    
df20=df[['Customer Name','State','Sales','Profit']].sample(n=20)
df20['using_apply']=df20['Sales'].apply(caterize_sales_type)
#IN above line i am creating one new column name - using_apply, inside this column
#i am inserting the return value of userdefine function.
print(df20)

            Customer Name         State     Sales    Profit using_apply
9564  Catherine Glotzbach    California    11.760    5.7624         Low
1416           Stuart Van         Texas   946.344  118.2930        High
3253         Matt Abelman      Illinois    27.184    2.0388         Low
2250   Justin MacKendrick    California   541.440  157.0176        High
6917    Stefanie Holloman    California  1403.920   70.1960        High
9001    Elizabeth Moffitt       Georgia     5.950    0.8330         Low
5839        Michael Grace      Virginia    32.400   15.5520         Low
2691         Chad Sievert      Colorado    15.480    5.6115         Low
4352         Alex Grayson    California    95.840   34.7420      Medium
2133        William Brown  Pennsylvania   152.991 -122.3928      Medium
5528          Scott Cohen       Florida    79.960   27.9860      Medium
9525      Patrick Bzostek    Washington   199.900   39.9800      Medium
7692       Arianne Irving    California    88.800   44.4000      Medium
8258          Dana Kaydos    Washington   100.704   37.7640      Medium
8719      Arthur Wiediger         Texas    15.552    5.6376         Low
7927      Katharine Harms      New York   569.990  170.9970        High
1614           Paul Lucas  Pennsylvania    83.976  -13.6461      Medium
6120        Justin Ritter        Oregon   409.216   61.3824        High
2601        Edward Nazzal      New York    14.940    7.0218         Low
4009    Steven Cartwright    California   474.430  199.2606        High

In [ ]:
#The apply method also works with the built-in native Python functions. 
#if suppose i want to findout the character present in customer Name.


df20['character is customer name:']=df20['Customer Name'].apply(len)
print(df20)
#print("         20    ")
#print("\t 20 \t")

            Customer Name  ... character is customer:
6891     Saphhira Shifley  ...                     16
3569             Jim Kriz  ...                      8
226           David Smith  ...                     11
8340         Chris Cortes  ...                     12
6331         Xylona Preis  ...                     12
6286  Catherine Glotzbach  ...                     19
2929        Maria Etezadi  ...                     13
2278      Liz MacKendrick  ...                     15
6943    Russell D'Ascenzo  ...                     17
4064    Denise Leinenbach  ...                     17
8752         Rick Bensley  ...                     12
8296        Edward Becker  ...                     13
9209           Roy Skaria  ...                     10
6184    Deborah Brumfield  ...                     17
141         Sally Hughsby  ...                     13
7480        Maria Etezadi  ...                     13
9574      Sandra Flanagan  ...                     15
9839           Dan Lawera  ...                     10
216       Victoria Wilson  ...                     15
8319            Erin Mull  ...                      9

[20 rows x 6 columns]

In [ ]:
s="Pijush"
print(s.center(10," "))
print(s)

print(s.ljust(15,"*"))
print(s.rjust(20,"#"))

  Pijush
Pijush
Pijush*********
##############Pijush

In [ ]:
def profit_calc(value):
  if value>100:
    return "HIGH PROFIT"
  elif value<100 and value >0:
    return "Medium Profit"

  else:
    return "Loss"


df20["Profit_margin"]=df20['Profit'].apply(profit_calc)

In [ ]:
#We can use lambda function also .

df20['Profit_margin']=df20['Profit'].apply(lambda x:'HIGH Profit' if x >100 else 'Medium Profit'if x <100 and x >0 else 'Loss')
print(df20)

            Customer Name         State  ...  using_apply  Profit_margin
9564  Catherine Glotzbach    California  ...          Low  Medium Profit
1416           Stuart Van         Texas  ...         High    HIGH Profit
3253         Matt Abelman      Illinois  ...          Low  Medium Profit
2250   Justin MacKendrick    California  ...         High    HIGH Profit
6917    Stefanie Holloman    California  ...         High  Medium Profit
9001    Elizabeth Moffitt       Georgia  ...          Low  Medium Profit
5839        Michael Grace      Virginia  ...          Low  Medium Profit
2691         Chad Sievert      Colorado  ...          Low  Medium Profit
4352         Alex Grayson    California  ...       Medium  Medium Profit
2133        William Brown  Pennsylvania  ...       Medium           Loss
5528          Scott Cohen       Florida  ...       Medium  Medium Profit
9525      Patrick Bzostek    Washington  ...       Medium  Medium Profit
7692       Arianne Irving    California  ...       Medium  Medium Profit
8258          Dana Kaydos    Washington  ...       Medium  Medium Profit
8719      Arthur Wiediger         Texas  ...          Low  Medium Profit
7927      Katharine Harms      New York  ...         High    HIGH Profit
1614           Paul Lucas  Pennsylvania  ...       Medium           Loss
6120        Justin Ritter        Oregon  ...         High  Medium Profit
2601        Edward Nazzal      New York  ...          Low  Medium Profit
4009    Steven Cartwright    California  ...         High    HIGH Profit

[20 rows x 6 columns]

In [ ]:
'''
rows=15


first 5 rows(1-5 rows) values are increasing.#Final conclusion- data is increasing

next 5 rows(6-10 rows) values are constant.#Final conclusion- data is constant.


last 5 row(11-15 rows) values are decreasing#Final conclusion- data is decreasing.

'''